<ul class="lang-dropdown js-dropdown">
	{{#if_eq language "nl"}}
		<li class="active" id="js-switch-nl"><p>{{lang "lang" "NL"}}</p></li>
		<li id="js-switch-fr"><p >{{lang "lang" "FR"}}</p></li>
	{{else}}
		<li  id="js-switch-nl"><p>{{lang "lang" "NL"}}</p></li>
		<li id="js-switch-fr" class="active"><p>{{lang "lang" "FR"}}</p></li>
	{{/if_eq}}
</ul>