<div class="header"></div>
<div class="inner-container">
	<div class="copy">
		<h1>{{lang "form" "header"}}</h1>

		<p>{{lang "form" "copy"}}</p>
	</div>
	<form id="js-form" method="POST" action="#" name="form">
		<div class="grid">
			<div class="tiebreakerWrapper">
				<h2>{{lang "form" "tiebreaker-header"}}</h2>

				<div class="row">
					<div class="grid">
						<div class="col-general">
							<p>{{lang "form" "tiebreaker-copy"}}</p>
						</div>
						<div class="col-general">
							<input type="text"
								   id="js-form-tiebreaker"
								   name="tiebreaker"
								   placeholder="{{lang "form" "tiebreaker-placeholder"}}"
								   required>
						</div>
					</div>
				</div>
			</div>
			<div class="tiebreakerExtraWrapper">
				<h2>{{lang "form" "tiebreaker-extra-header"}}</h2>

				<div class="row">
					<div class="grid">
						<div class="col-general">
                            <p>{{lang "form" "tiebreaker-extra-copy"}}</p>
                        </div>
						<div class="col-general">
							<div id="js-share-tiebreaker" class="button main js-share" share-name="extra">Share</div>
							<input class="hidden"
                                   type="text"
                                   id="js-form-tiebreakerExtra"
                                   name="tiebreaker_extra"
								   placeholder="{{lang "form" "tiebreaker-placeholder"}}">
                        </div>
					</div>
				</div>
			</div>
			<hr />
			<div class="formWrapper">
				<h2>{{lang "form" "form-header"}}</h2>

				<div class="grid">
					<div class="row">
						<div class="col-general">
							<input type="text"
                                   id="js-form-firstName"
                                   name="first_name"
								   placeholder="{{lang "form" "first-name"}}"
								   value="{{user.first_name}}" required>
						</div>
						<div class="col-general">
							<input type="text"
                                   id="js-form-lastName"
                                   name="last_name"
								   placeholder="{{lang "form" "last-name"}}"
								   value="{{user.last_name}}" required>
						</div>
					</div>
					<div class="row">
						<div class="col-general">
							<input type="text"
                                   id="js-form-email"
                                   name="email"
								   placeholder="{{lang "form" "email"}}"
								   value="{{user.email}}"
								   required>
						</div>
						<div class="col-general">
							<input type="text"
								   id="js-form-gsm"
								   name="gsm"
								   placeholder="{{lang "form" "gsm"}}"
								   value="{{user.gsm}}"
								   required>
						</div>
					</div>

					<div class="row">
						<div class="col-address">
							<input type="text"
								   id="js-form-adres"
								   name="adres"
								   placeholder="{{lang "form" "adres"}}"
								   value="{{user.adres}}"
								   required>
						</div>
					</div>
					<div class="row">
						<div class="col-zip">
							<input type="text" id="js-form-zip" name="zip"
								   placeholder="{{lang "form" "zip"}}"
								   value="{{user.zip}}"
								   required>
						</div>
						<div class="col-city">
							<input type="text"
								   id="js-form-city"
								   name="city"
								   placeholder="{{lang "form" "city"}}"
								   value="{{user.city}}"
								   required>
						</div>
					</div>
					<div class="row birthday">
						<div class="col-birthdate">
							<label for="birthdate">{{lang "form" "birthdate"}}</label>
						</div>
						<div class="col-bday">
                            <input type="text"
                                   id="js-form-bday"
                                   name="bday"
                                   placeholder="{{lang "form" "bday"}}"
                                   value="{{user.bday}}"
                                   required></div>
						<div class="col-bmonth">
                            <input type="text"
                                   id="js-form-bmonth"
                                   name="bmonth"
                                   placeholder="{{lang "form" "bmonth"}}"
                                   value="{{user.bmonth}}"
                                   required>
                        </div>
						<div class="col-byear">
                            <input type="text"
                                   id="js-form-byear"
                                   name="byear"
                                   placeholder="{{lang "form" "byear"}}"
                                   value="{{user.byear}}"
                                   required>
                        </div>
					</div>
					<input type="hidden" name="lang" id="js-form-lang" value='{{language}}'>
					<input type="hidden" name="selected" id="js-form-selected" value='{{selected}}'>
					<input type="hidden" name="lang_set_id" id="js-form-lang_set_id" value='{{lang_set_id}}'>

					<div class="checkboxWrapper">
						<div>
                            <input type='checkbox'
                                   name='voorwaarden'
                                   id="voorwaarden" required>
                            <label for="voorwaarden"></label>
                        </div>
						<div>
                            <label for="voorwaarden">{{lang "form" "accept"}}</label>
                        </div>
					</div>
					<div class="checkboxWrapper">
						<div>
                            <input type="checkbox" name="optin" id="optin">
                            <label for="optin"></label>
                        </div>
						<div>
                            <label for="optin">{{lang "form" "optin"}}</label>
                        </div>
					</div>
					<div class="form-error" id="js-form-error"></div>
					<div id="submit" class="button main send" id="js-send">{{lang "buttons" "send"}}</div>
				</div>
			</div>
		</div>
	</form>
	<hr />
	<div class="button grey share js-share">{{lang "buttons" "share"}}</div>
</div>