<div class="header"></div>
<div class="inner-container">
    <h1>{{lang "info" "header"}}</h1>
    <p>{{lang "info" "copy"}}</p>
    <ul>
        <li class="button option" data-value="1">{{lang "info" "option1"}}</li>
        <li class="button option" data-value="2">{{lang "info" "option2"}}</li>
        <li class="button option" data-value="3">{{lang "info" "option3"}}</li>
        <li class="button option" data-value="4">{{lang "info" "option4"}}</li>
    </ul>
    <div class="button main send" id="js-send">{{lang "buttons" "send"}}</div>
    <hr/>
    <div class="button grey share js-share">{{lang "buttons" "share"}}</div>
</div>