<!doctype html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Pong</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body class="{{ userLanguage }} {{#if onFacebook}}facebook{{else}}mobile{{/if}}">
	<div id="fb-root"></div>
	<div id="js-end-page" class="animated end page"></div>
	<div id="js-likeGate-page" class="animated likeGate page"></div>
	<div id="js-form-page" class="animated form page"></div>
</body>
<script>
	var bootstrap = {
		
		appId : {{appId}},
		pageId : {{pageId}},
		end : {{end}},
		onFacebook : {{#if onFacebook}}true{{else}}false{{/if}},
		url : "//{{rootUrl}}",
		pageLiked : {{#if pageLiked}}true{{else}}false{{/if}},
		pages : {
			effectIn : "bounceInLeft",
			effectOut : "bounceOutLeft"
		},
		multiLanguage : {{#if multiLanguage}}true{{else}}false{{/if}},
		lang : "{{userLanguage}}"
	};
</script>
{{#if isDevelopment}}
  <script data-main="../src/js/main" src="../src/bower/requirejs/require.js"></script>
{{else}}
  <script src="js/optimized.js"></script>
{{/if}}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ googleAnalyticsCode }}');
    ga('send', 'pageview');
</script>
</html>